*{
    --light-olive:#c1bb9a;
    --light-teal: #acccc7;
    --purple: #774e7f;
    color:black
}

body{
    background-color: var(--light-olive);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    /* Text align is horizontal */
    text-align: center;
    /* align items vertical */
    align-items: center;

}
.logo{
    justify-content: center;
    height: 150px;
    width: 150px;
    background-color: var(--purple);
    display: flex;    
    text-align: center;
    align-items: center;
    border: solid black 5px;
    border-radius: 50%;
}
.logo p {
    height: 90px;
    width: 90px;
    background-color: var(--light-teal);
    color: var(--purple);
    text-align: center;
    font-size: 1.5rem;
    border-radius: 20%;

}
nav a {
    text-decoration: none;
    background-color: var(--light-teal);
    color: var(--purple);
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

nav a:hover {
    background-color: var(--purple);
    color: black;
    display: inline-block;
    animation-name: spin;
    animation-duration: 1sec;
    
}

.training-option {
    margin-top: 15dvw;
    background-color: var(--orange);
    padding: 1rem;
    border-radius: 5%;

}
.training-option img{
    width: 75dvw;
    border-radius: 5%;
}

@media screen and (min-width: 600px) {
    main{
        display: flex;
        flex-direction: wrap;
        gap: 20px;
        justify-content: space-around;
          /* Text align is horizontal */
    text-align: center;
    /* align items vertical */
    align-items: center;
    }
   
    }
    .training-option img{
        width: 25dvw;
        }
    .training-option {
        margin-top: 15dvw;
        background-color: var(--purple);
        padding: 1rem;
        border-radius: 5%;
}