*{
    --blue-light:#AEC5EB;
    --orange: #FF715B;
    color:black
}

body{
    background-color: var(--blue-light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    /* Text align is horizontal */
    text-align: center;
    /* align items vertical */
    align-items: center;

}
.logo{
    height: 150px;
    width: 150px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    border: solid black 5px;
    border-radius: 50%;
}
.logo p {
    height: 90px;
    width: 90px;
    background-color: black;
    color: var(--orange);
    text-align: center;
    font-size: 1.5rem;
    border-radius: 20%;

}
nav a {
    text-decoration: none;
    background-color: black;
    color: var(--blue-light);
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

nav a:hover {
    background-color: var(--orange);
    color: black;
    animation-name: spin;
    animation-duration: 3sec;
    /* The animation code */
@keyframes spin {
   animation: spin 3sec timing-function delay iteration-count direction fill-mode;
  }
}

.training-option {
    margin-top: 15dvw;
    background-color: var(--orange);
    padding: 1rem;
    border-radius: 5%;

}
.training-option img{
    width: 75dvw;
    border-radius: 5%;
}

@media screen and (min-width: 600px) {
    main{
        display: flex;
        flex-direction: wrap;
        gap: 20px;
        justify-content: space-around;
          /* Text align is horizontal */
    text-align: center;
    /* align items vertical */
    align-items: center;
    }
   
    }
    .training-option img{
        width: 25dvw;
        }
    .training-option {
        margin-top: 15dvw;
        background-color: var(--orange);
        padding: 1rem;
        border-radius: 5%;
}